

.newRecipe {
  background: white;
  width: 40%;
  color: #36454f;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  margin: 2rem;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}