
//.columns {
//  column-count: 2;
//  gap: 3rem;
//  align-items: center;
//  break-inside: avoid-column;
//  overflow: hidden;
//  display: inline-block;
//}
//
.h1 {
  text-align: center;
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 3rem;
  column-gap: 3rem;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-count: 2;
  align-items: center;
  width: 80%;
  float: right;
}



.split{
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #449999;
  width: 15%;
  top: 75px;
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
  width: 85%;
  position: fixed;
  float: left;
}


