

.card {
  overflow: hidden;
  display: flex;
  break-inside: avoid-column;
  flex-direction: column;
  margin-bottom: 3rem;
}

.input {
  &__label {
    margin: 2mm auto;
    margin-left: .5cm;
    margin-top: 8mm;
  }

  &__field {
    display: block;
    width: 90%;
    margin: 0 auto;

    &__big {
      display: block;
      width: 90%;
      margin: 0 auto;
      min-height: 3cm;
    }
  }

  &__submit {
    display: block;
    margin: .5cm auto;
    width: 80%;
  }

}