@import url('https://rsms.me/inter/inter.css');

:root {
  --color-light: #DCDCDC;
  --color-dark: #212121;
  --color-signal: #118593;

  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);

  --size-bezel: .5rem;
  --size-radius: 4px;

  line-height: 1.4;

  font-family: 'Inter', sans-serif;
  font-size: calc(.6rem + .4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

h1, h2, h3 {
  font-weight: 900;
  text-align: center;
}

mark {
  background: var(--color-accent);
  color: var(--color-text);
  font-weight: bold;
  padding: 0 0.2em;
}


//.card {
//  background: var(--color-background);
//  padding: calc(4 * var(--size-bezel));
//  margin-top: calc(4 * var(--size-bezel));
//  border-radius: var(--size-radius);
//  border: 3px solid var(--color-shadow, currentColor);
//  box-shadow: .5rem .5rem 0 var(--color-shadow, currentColor);
//  max-width: 20cm;
//  display: flex;
//  flex-direction: row;
//
//
//  justifyContent: 'center';
//  alignItems: 'center';;
//
//  &__image {
//    max-width: 100%;
//  }
//
//  &__text {
//
//  }
//
//
//  &--inverted {
//    --color-background: var(--color-dark);
//    color: var(--color-light);
//    --color-shadow: var(--color-accent);
//  }
//
//  &--accent {
//    --color-background: var(--color-signal);
//    --color-accent: var(--color-light);
//    color: var(--color-dark);
//  }
//
//  *:first-child {
//    margin-top: 0;
//  }
//}

.recipeCard {
  background-color: #F8F8F8;
  border: 1px solid #212121;
  border-radius: 12px;

  &__image {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    max-width: 100%;
  }

  &__h1 {
    text-align: center;
  }

  &__h3 {
    padding-left: 30px;
  }

  &__h4 {
    padding-left: 30px;
  }

  &__ul {
    list-style-type: none;
    font-size: 20px;
  }

}

.spacer {
  padding: 12px;
}

.l-design-width {
  max-width: 40rem;
  padding: 1rem;
}

//.input {
//  position: relative;
//  padding: 10px;
//
//  &__label {
//    position: absolute;
//    left: 10px;
//    top: 0;
//    //padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
//    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
//    white-space: nowrap;
//    transform: translate(0, 0);
//    transform-origin: 0 0;
//    background: var(--color-background);
//    //background: transparent;
//    transition: transform 120ms ease-in;
//    font-weight: bold;
//    line-height: 1.2;
//  }
//
//  &__field {
//    box-sizing: border-box;
//    display: block;
//    width: 100%;
//    border: 3px solid currentColor;
//    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
//    color: currentColor;
//    background: transparent;
//    border-radius: var(--size-radius);
//
//    &:focus {
//      //background-color: black;
//    }
//
//    &:not(:placeholder-shown) {
//      & + .input__label {
//        transform: translate(.25rem, -65%) scale(.8);
//        color: var(--color-accent);
//      }
//    }
//  }
//}

.card {
  background: #F4FBFF;

  border: 1px solid #212121;
  border-radius: 12px;
  max-width: 50%;
}

.columns {
  column-count: 2;
}


.button-group {
  margin-top: calc(var(--size-bezel) * 2.5);
}

button {
  color: currentColor;
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  background: var(--color-accent);
  border: none;
  border-radius: var(--size-radius);
  font-weight: 900;

  &[type=reset] {
    background: var(--color-background);
    font-weight: 200;
  }

  &:hover {
    background: #449999;
    transition: all ease-in-out 0.2s;
  }
}

//button:hover {
//  background: #449999;
//  transition: all ease-in-out 0.2s;
//}

button + button {
  margin-left: calc(var(--size-bezel) * 2);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .5em;
}

.hidden {
  display: none;
}

.nav-li {
  display: inline;
  border-radius: 100px;
  border: 1000px pink;
}



.navbar {
  background-color: #118593;
  height: 50px;
  justify-content: right;
}

a {
  margin: 8px;
  justify-content: right;
  text-decoration: none;
  color: #0e151d;
  padding: 10px 20px;
  border-radius: 5px;
  background: #fff;
  transition: all ease-in-out 0.2s;
}

nav a:hover {
  background: #449999;
  transition: all ease-in-out 0.2s;
}

nav .active {
  background: #118593;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}

link {
  margin: 100px;
  padding: 100px;
}



.newRecipe {
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #36454f;
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rowA {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.rowB {
  display: flex;
  flex: 2;
  flex-direction: row;
}

.rowC {
  display: flex;
  flex: 3;
  flex-direction: row;
}





